.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
.btns {
  margin: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}
